chromadb==0.5.3
python-dotenv
ipykernel
ipywidgets
jupyterlab
numpy
torch
torchaudio==2.2.1
transformers
langchain==0.1.3
langchain-openai
langchain-community==0.0.20
scikit-learn
matplotlib
openai
pypdf
chromadb
tiktoken
pandas
datasets
evaluate
huggingface_hub
accelerate
nltk
pyinstrument
faiss-cpu
websockets
simpleaudio
pydub
numba
tqdm
more-itertools
scipy
sounddevice
requests==2.31.0
faster-whisper